.articleType{
  position: relative;
  width: 100%;
  height: .64rem;
  background-color: #e0e0e0;
  .title_content{
    position: absolute;
    height: .3rem;
    font-size: .28rem;
    color: #212121;
    margin-left: .3rem;
    bottom: .23rem;
  }
}
.content{
  position: relative;
  margin: .1rem 0 .3rem 0;

  .content_item{
    padding:.1rem 0;
    font-size: 0;
    //font-family: "Microsoft YaHei";
    border-bottom: .03rem solid #dddddd;

    .article_header{
      .article_ico{
        width: .28rem;
        height: .33rem;
        top:.03rem;
      }
      //position: absolute;
      margin-top: .2rem;
      margin-bottom: .1rem;
      padding: 0 .48rem;
      display: inline-block;
      letter-spacing: .01rem;
      line-height: .4rem;
      //font-family: '宋体';
      font-size: .26rem;
      color: #333333;
    }
    .article_content{

      //position: absolute;
      display:inline-block;
      line-height: .3rem;
      width: 5.3rem;
      padding: 0 .24rem;
      letter-spacing: .02rem;
      font-family: '宋体';
      font-size: .24rem;
      color: #9d9d9d;
      .itemCovor{
        float: right;
        right: .5rem;
      }

    }

    .article_others{
      //position: absolute;
      display: inline-block;
      padding: .1rem .48rem;
      font-size: .14rem;
      color: #9d9d9d;

    }
  }

}